<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Syshealth UI</title>
    <link rel="stylesheet" href="https://agence-webup.github.io/helium/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table thead {
            text-align: center;
            font-weight: bold;
            line-height: 1.5;
            background: #fafafa;
            border-bottom: 1px solid darkgray;
        }

        .table__txtsmall {
            font-size: 1.2rem;
            line-height: 1.75;
        }

        .table__noborder, .table__noborder tr, .table__noborder td {
            width: auto;
            border: none;
            background: transparent !important;
        }

        .w5 {
            width: 5%;
        }

        .jwt-token__value {
            font-family: monospace;
        }

        .tooltip.popover .popover-inner {
            font-size: 1.1rem;
            background: #f9f9f9;
            color: black;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        }
        .tooltip.popover .popover-arrow {
            border-color: #f9f9f9;
        }
        .tooltip.popover ul {
            margin: 0;
        }

    </style>
</head>
<body>

    <header class="header">
        <div class="header__logo">
            <svg width="50" height="33" viewBox="0 0 50 33" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <path d="M24.425 24.132l-6.134 5.985c-.422.412-.996.644-1.594.644-.6 0-1.173-.23-1.596-.643L2.662 17.97c-.876-.857-.876-2.252 0-3.115L15.1 2.712c.882-.856 2.31-.856 3.19 0l12.44 12.14" stroke="#FFF" stroke-width="3.213"/>
                    <path d="M25.285 8.7l6.133-5.986c.882-.857 2.31-.857 3.19 0l12.44 12.14c.878.857.878 2.25 0 3.115l-12.44 12.14c-.875.856-2.304.856-3.19 0L18.98 17.97" stroke="#FFF" stroke-width="3.213"/>
                    <path fill="url(#a)" opacity=".3" d="M22.855 5.693l1.462 1.418.215-.21-1.463-1.417" transform="translate(2 2)"/>
                    <path fill="url(#b)" opacity=".3" d="M21.177 21.92l1.454 1.43.225-.22-1.463-1.418" transform="translate(2 2)"/>
                </g>
            </svg>
        </div>
        <div class="header__infos">
            <a href="#">Go to website</a>
            <a href="#">Get some help</a>
            <span>Richard | <a href="#">Logout</a></span>
        </div>
    </header>

    <div class="layout" data-js="vue-root">
        <nav class="navigation" v-if="!needsLogin">
            <a href="#" :class="{ 'is-active': route.startsWith('dashboard')}" @click="selectRoute('dashboard')"><i class="fa fa-dashboard icon"></i> Dashboard</a>
            <a href="#" :class="{ 'is-active': route.startsWith('servers')}" @click="selectRoute('servers.list')"><i class="fa fa-server icon"></i> Servers</a>
        </nav>

        <main class="content">

            <div class="mt4 center" v-if="needsLogin">
                <div class="w50 center txtcenter login-box">
                    <form action="" method="post">
            
                        <div class="f-group">
                            <label for="username">Username </label>
                            <input type="text" id="username" name="username">
                        </div>
            
                        <div class="f-group">
                            <label for="password">Password </label>
                            <input type="password" id="password" name="password">
                        </div>
            
                        <div class="mt3">
                            <button type="submit" class="btn btn--primary login-box__btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>

            <template v-else>
                <div v-if="route.startsWith('dashboard')">
                    <h1>Dashboard</h1>

                    <article class="box">
                        <div class="box__content box__content--noPadding">
                            <table class="txtcenter table__txtsmall">
                                <thead>
                                    <tr>
                                        <td class="w5"></td>
                                        <td>Server</td>
                                        <td>Processor</td>
                                        <td>Memory</td>
                                        <td>Disk</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in metrics">
                                        <td><span class="tag tag--green"></span></td>
                                        <td class="bold">
                                            <v-popover offset="4" trigger="hover">
                                                <span class="tooltip-target">{{item.server.name}}</span>
                                                <template slot="popover">
                                                <div class="pl4 pr4">
                                                        {{item.server.ip}}
                                                </div>
                                                </template>
                                            </v-popover>
                                        </td>
                                        <td>
                                            <v-popover offset="4" trigger="hover">
                                                <span class="tooltip-target">{{formatPercent(item.data['cpu.usage'])}}</span>
                                                <template slot="popover">
                                                    <table class="table__noborder">
                                                        <tr>
                                                            <td class="txtright bold">Load 1</td>
                                                            <td>{{item.data['cpu.load_1']}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtright bold">Load 5</td>
                                                            <td>{{item.data['cpu.load_5']}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtright bold">Load 15</td>
                                                            <td>{{item.data['cpu.load_15']}}</td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </v-popover>
                                        </td>
                                        <td>
                                            {{formatPercent(item.data['memory.used_percent'])}}
                                        </td>
                                        <td>
                                            <v-popover offset="4" trigger="hover">
                                                <span class="tooltip-target">{{formatPercent(item.data['disk.usage'][item.server.default_partition]['percent'])}}</span>
                                                <template slot="popover">
                                                    <table class="table__noborder">
                                                        <tr v-for="(info, disk) in item.data['disk.usage']">
                                                            <td class="txtright bold">{{disk}}</td>
                                                            <td>{{info['free'].toFixed(0)}}GB / {{info['total'].toFixed(0)}}GB ({{formatPercent(info['percent'])}})</td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </v-popover>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>

                <div v-if="route.startsWith('servers')">
                    <h1>Servers</h1>

                    <template v-if="route.startsWith('servers.form.confirmation')">
                        <article class="box">
                            <header class="box__header">
                                Auth token for the new server:
                            </header>
                            <div class="box__content">
                                <input class="jwt-token__value w70" type="text" :value="ui.servers.form.jwt" readonly @click="copyJwt"> (click on input to copy)
                                <div class="alert alert--error">
                                    Warning! You must keep this token at secure place. It will not be stored and cannot be retrieved. You could only revoke this
                                    token after leaving this page.
                                </div>
                            </div>
                        </article>
                    </template>

                    <template v-if="route.startsWith('servers.form.create')">
                        <div>
                            <form action="" @submit.prevent.stop="registerSubmit">
                                <div class="f-group">
                                    <label for="name">Server name <i class="f-required">*</i></label>
                                    <input type="text" id="name" v-model="ui.servers.form.name">
                                </div>

                                <div class="f-group">
                                    <label for="ip">IP <i class="f-required">*</i></label>
                                    <input type="text" id="ip" v-model="ui.servers.form.ip">
                                </div>

                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </template>

                    <template v-if="route.startsWith('servers.list')">
                        <div>
                            <button class="btn btn--primary" @click="showRegisterForm">Register new server</button>

                            <div class="mt2">
                                <table>
                                    <tbody>
                                        <tr v-for="server in servers">
                                            <td>
                                                {{ server.name }} ({{ server.ip }})
                                            </td>
                                            <td>
                                                <a href="" @click.prevent.stop="revokeServer(server)">revoke</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </template>
                </div>

            </template>

        </main>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
    <script src="https://unpkg.com/v-tooltip"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    
    <script>
        var app = new Vue({
            el: '[data-js="vue-root"]',
            data: {
                ui: {
                    servers: {
                        showForm: false,
                        form: {
                            name: null,
                            ip: null,
                            jwt: null
                        }
                    }
                },
                route: 'dashboard',
                servers: [],
                metrics: [
                    {
                        server: {
                            name: 'q-demos2',
                            ip: '156.123.19.95',
                            default_partition: '/'
                        },
                        data: {
                            "cpu.core_count": 8,
                            "cpu.load_1": 0.30375,
                            "cpu.load_15": 0.1975,
                            "cpu.load_5": 0.24375,
                            "cpu.usage": 0.9987515605493134,
                            "disk.usage": {
                                "/": {
                                    "free": 175.2957420349121,
                                    "percent": 23.366581902745757,
                                    "total": 233.46913528442383
                                },
                                "/private/var/vm": {
                                    "free": 175.2957420349121,
                                    "percent": 1.2849745941070774,
                                    "total": 233.46913528442383
                                }
                            },
                            "memory.used_percent": 56.44090175628662
                        }
                    },
                    {
                        server: {
                            name: 'q-demos3',
                            ip: '156.12.67.224',
                            default_partition: '/'
                        },
                        data: {
                            "cpu.core_count": 8,
                            "cpu.load_1": 0.30375,
                            "cpu.load_15": 0.1975,
                            "cpu.load_5": 0.24375,
                            "cpu.usage": 23.6436,
                            "disk.usage": {
                                "/": {
                                    "free": 175.2957420349121,
                                    "percent": 23.366581902745757,
                                    "total": 233.46913528442383
                                },
                                "/private/var/vm": {
                                    "free": 175.2957420349121,
                                    "percent": 1.2849745941070774,
                                    "total": 233.46913528442383
                                }
                            },
                            "memory.used_percent": 56.44090175628662
                        }
                    }
                ]
            },
            computed: {
                needsLogin () {
                    return false
                }
            },
            methods: {
                selectRoute (route) {
                    // if (route === 'servers')
                    // switch (route) {
                    //     case 'servers':
                    //         this.ui.servers.form.name = null
                    //         this.ui.servers.form.ip = null
                    //         this.ui.servers.form.jwt = null
                    //         this.ui.servers.showForm = false
                    //         break;
                    
                    //     default:
                    //         break;
                    // }

                    if (route.startsWith('servers.list')) {
                        this.getServers()
                    }

                    this.route = route
                },
                formatPercent (value) {
                    return value.toFixed(2) + '%'
                },
                getServers () {
                    axios.get('http://localhost:1323/api/servers').then((response) => {
                        this.servers = response.data.servers
                    })
                },
                getMetrics () {
                    axios.get('http://localhost:1323/api/metrics').then((response) => {
                        this.metrics = response.data
                    })
                },
                showRegisterForm () {
                    // this.ui.servers.showForm = true
                    this.route = 'servers.form.create'
                },
                registerSubmit (e) {
                    var data = this.ui.servers.form
                    axios.post('http://localhost:1323/api/servers/register', data).then((response) => {
                        console.log(response)
                        this.ui.servers.form.jwt = response.data.jwt
                        this.selectRoute('servers.form.confirmation')
                    }).catch((error) => {
                        console.log(error)
                    })
                },
                revokeServer (server) {
                    axios.delete('http://localhost:1323/api/servers/' + server.id).then((response) => {
                        this.selectRoute('servers.list')
                    })
                },
                copyJwt (e) {
                    e.target.select()
                    document.execCommand("Copy")
                }
            },
            mounted () {
                setInterval(() => {
                    this.getMetrics()
                }, 5000)
                this.getMetrics()
            }
        });
    </script>
</body>
</html>