<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Syshealth UI</title>
    <link rel="stylesheet" href="css/helium-vendors.css">
    <link rel="stylesheet" href="css/helium-base.css">
    <style>
        table thead {
            text-align: center;
            font-weight: bold;
            line-height: 1.5;
            background: #fafafa;
            border-bottom: 1px solid darkgray;
        }

        table tr {
            cursor: pointer;
        }

        .table__txtsmall {
            font-size: 1.2rem;
            line-height: 1.75;
        }

        .table__noborder, .table__noborder tr, .table__noborder td {
            width: auto;
            border: none;
            background: transparent !important;
        }

        .w5 {
            width: 5%;
        }

        .jwt-token__value {
            font-family: monospace;
        }

        .vtooltip.popover .popover-inner {
            font-size: 1.1rem;
            background: #f9f9f9;
            color: black;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        }
        .vtooltip.popover .popover-arrow {
            border-color: #f9f9f9;
        }
        .vtooltip.popover ul {
            margin: 0;
        }

        .sidemenu-wrapper {
            position: relative;
            overflow: hidden;
            width: 100%;
        }
        .sidemenu-content {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .sidemenu {
            width: 50%;
            height: 100vh;
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            padding: 15px;
            transform: translate3d(100%,0,0);
            transition: transform .3s;
            box-shadow: 0 0 5px rgb(231, 231, 231);
        }

        .show-nav {
            transform: translate3d(0,0,0);
        }

    </style>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header__logo">
                syshealth
            </div>
            <div class="header__infos">
                <!-- <a href="#">Go to website</a>
                <a href="#">Get some help</a>
                <span>Richard | <a href="#">Logout</a></span> -->
            </div>
        </div>
    </header>

    <div data-js="vue-root">

        <nav class="navigation-wrapper">
            <div class="container">
                <div class="navigation">
                    <a href="#" :class="{ 'is-active': route.startsWith('dashboard')}" @click="selectRoute('dashboard')"><i data-feather="bar-chart"></i> Dashboard</a>
                    <a href="#" :class="{ 'is-active': route.startsWith('servers')}" @click="selectRoute('servers.list')"><i data-feather="server"></i> Servers</a>
                    <a href="#" :class="{ 'is-active': route.startsWith('users')}" @click="selectRoute('users.list')"><i data-feather="users"></i> Users</a>
                </div>
            </div>
        </nav>

        <div class="container sidemenu-wrapper show-nav">
            
            <main class="content sidemenu-content">

                <div v-if="route.startsWith('dashboard')">
                    <header class="title-wrapper">
                        <h1 class="title">Dashboard</h1>
                    </header>

                    <article class="box">
                        <div class="box__content box__content--noPadding">
                            <table class="txtcenter table__txtsmall">
                                <thead>
                                    <tr>
                                        <td class="w5"></td>
                                        <td>Server</td>
                                        <td>Processor</td>
                                        <td>Memory</td>
                                        <td>Disk</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in metrics" @click="showServerInfo(item.server)">
                                        <td><span class="tag" :class="{ 'tag--green': item.data, 'tag--red': !item.data }"></span></td>
                                        <td class="bold">
                                            <v-popover offset="4" trigger="hover" popover-base-class="vtooltip popover">
                                                <span class="tooltip-target">{{item.server.name}}</span>
                                                <template slot="popover">
                                                <div class="pl4 pr4">
                                                        {{item.server.ip}}
                                                </div>
                                                </template>
                                            </v-popover>
                                        </td>
                                        <td>
                                            <v-popover offset="4" trigger="hover" v-if="item.data" popover-base-class="vtooltip popover">
                                                <span class="tooltip-target">{{formatPercent(item.data['cpu.usage'])}}</span>
                                                <template slot="popover">
                                                    <table class="table__noborder">
                                                        <tr>
                                                            <td class="txtright bold">Load 1</td>
                                                            <td>{{item.data['cpu.load_1']}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtright bold">Load 5</td>
                                                            <td>{{item.data['cpu.load_5']}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtright bold">Load 15</td>
                                                            <td>{{item.data['cpu.load_15']}}</td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </v-popover>
                                        </td>
                                        <td>
                                            <v-popover offset="4" trigger="hover" v-if="item.data" popover-base-class="vtooltip popover">
                                                <span class="tooltip-target">{{formatPercent(item.data['memory.used_percent'])}}</span>
                                                <template slot="popover">
                                                    <table class="table__noborder">
                                                        <tr>
                                                            <td class="txtright bold">Available</td>
                                                            <td>{{item.data['memory.available'].toFixed(2)}} GB</td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </v-popover>
                                        </td>
                                        <td>
                                            <v-popover offset="4" trigger="hover" v-if="item.data" popover-base-class="vtooltip popover">
                                                <span class="tooltip-target">{{formatPercent(item.data['disk.usage'][item.server.default_partition]['percent'])}}</span>
                                                <template slot="popover">
                                                    <table class="table__noborder">
                                                        <tr v-for="(info, disk) in item.data['disk.usage']">
                                                            <td class="txtright bold">{{disk}}</td>
                                                            <td>{{info['free'].toFixed(0)}}GB / {{info['total'].toFixed(0)}}GB ({{formatPercent(info['percent'])}})</td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </v-popover>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>

                <div v-if="route.startsWith('servers')">
                    <h1>Servers</h1>

                    <template v-if="route.startsWith('servers.form.confirmation')">
                        <article class="box">
                            <header class="box__header">
                                Auth token for the new server:
                            </header>
                            <div class="box__content">
                                <input class="jwt-token__value w70" type="text" :value="ui.servers.form.jwt" readonly @click="copyJwt"> (click on input to copy)
                                <div class="alert alert--error">
                                    Warning! You must keep this token at secure place. It will not be stored and cannot be retrieved. You could only revoke this
                                    token after leaving this page.
                                </div>
                            </div>
                        </article>
                    </template>

                    <template v-if="route.startsWith('servers.form.create')">
                        <div>
                            <form action="" @submit.prevent.stop="registerSubmit">
                                <div class="f-group">
                                    <label for="name">Server name <i class="f-required">*</i></label>
                                    <input type="text" id="name" v-model="ui.servers.form.name">
                                </div>

                                <div class="f-group">
                                    <label for="ip">IP <i class="f-required">*</i></label>
                                    <input type="text" id="ip" v-model="ui.servers.form.ip">
                                </div>

                                <button class="btn btn--primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </template>

                    <template v-if="route.startsWith('servers.list')">
                        <div>
                            <button class="btn btn--primary" @click="selectRoute('servers.form.create')">Register new server</button>

                            <div class="mt2">
                                <table>
                                    <tbody>
                                        <tr v-for="server in servers">
                                            <td>
                                                {{ server.name }} ({{ server.ip }})
                                            </td>
                                            <td>
                                                <a class="btn btn--danger" href="" @click.prevent.stop="revokeServer(server)">revoke</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </template>
                </div>

                <div v-if="route.startsWith('users')">
                    <h1>Users</h1>

                    <template v-if="route.startsWith('users.create')">
                        <div>
                            <form action="" @submit.prevent.stop="createUser">
                                <div class="f-group">
                                    <label for="username">Username <i class="f-required">*</i></label>
                                    <input type="text" id="username" v-model="ui.users.form.username">
                                </div>

                                <div class="f-group">
                                    <label for="password">Password <i class="f-required">*</i></label>
                                    <input type="password" id="password" v-model="ui.users.form.password">
                                </div>

                                <button class="btn btn--primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </template>

                    <template v-if="route.startsWith('users.list')">
                        <div>
                            <button class="btn btn--primary" @click="selectRoute('users.create')">Create a new user</button>

                            <div class="mt2">
                                <table>
                                    <tbody>
                                        <tr v-for="username in users">
                                            <td>
                                                {{ username }}
                                            </td>
                                            <td>
                                                <a class="btn btn--danger" href="" @click.prevent.stop="deleteUser(username)">delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </template>
                </div>

            </main>

        </div>

        <div class="sidemenu" :class="{ 'show-nav': ui.sidemenu.server }">
            <button class="btn" @click.prevent.stop="closeSidemenu">Close</button>

            <server-info v-if="ui.sidemenu.server" :server="ui.sidemenu.server" inline-template>
                <div>
                    <h3 class="txtcenter">{{server.name}} ({{server.ip}})</h3>
                    <div v-if="loading" class="txtcenter mt5" style="color: #ddd">
                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="w100">
                        <canvas ref="cpuChart" style="width: 100%; height: 250px;"></canvas>
                        <canvas ref="memoryChart" style="width: 100%; height: 250px;"></canvas>
                    </div>
                </div>
            </server-info>
        </div>

    </div>

    <script src="js/helium-vendors.js"></script>
    <script src="js/helium-base.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
    <script src="https://unpkg.com/v-tooltip@2.0.0-rc.32/dist/v-tooltip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="cookies.js"></script>
    
    <script>
        var serverUrl = ''  // to set a custom server url

        var authToken = getCookie('auth_token')
        var headers = {
            'Authorization': 'Bearer ' + authToken
        }

        var redirectIfUnauthorized = function (error) {
            console.log(error)
            if (error.response && error.response.status == 401) {
                window.location.href = 'login.html'
            }
        }

        Vue.component('server-info', {
            props: ['server'],
            data () {
                return {
                    loading: true,
                    data: null
                }
            },
            methods: {
                loadData () {
                    axios.get(serverUrl + '/api/metrics/' + this.server.id, { headers: headers }).then((response) => {
                        this.data = response.data
                        this.loading = false
                        this.updateCharts()
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                updateCharts () {
                    var data = this.data['cpu.usage']
                    this.cpuChart.data.datasets[0].data = data
                    this.cpuChart.update()

                    var data = this.data['memory.used_percent']
                    this.memoryChart.data.datasets[0].data = data
                    this.memoryChart.update()
                },
                getDefaultChartData (label) {
                    let data = {
                        datasets: [{
                            label: label,
                            fill: false,
                            borderWidth: 1,
                            pointRadius: 1,
                            lineTension: 0,
                            borderColor: '#2196F3',
                            pointBackgroundColor: '#2196F3',
                            backgroundColor: '#2196F3',
                            data: []
                        }]
                    }
                    return data
                },
                getDefaultChartOptions (scales) {
                    let options = {
                        tooltips: {
                            intersect: false
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                distribution: 'series',
                                time: {
                                    unit: 'minute',
                                    displayFormats: {
                                        minute: 'HH:mm'
                                    }
                                }
                            }] 
                        }
                    }

                    if (scales.yAxes) {
                        options.scales['yAxes'] = scales.yAxes
                    }

                    return options
                }
            },
            mounted () {
                var cpuChartCtx = this.$refs.cpuChart
                this.cpuChart = new Chart(cpuChartCtx, {
                    type: 'line',
                    data: this.getDefaultChartData('CPU usage'),
                    options: this.getDefaultChartOptions({
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 100
                            }
                        }]
                    })
                })

                var memoryChartCtx = this.$refs.memoryChart
                this.memoryChart = new Chart(memoryChartCtx, {
                    type: 'line',
                    data: this.getDefaultChartData('Memory usage'),
                    options: this.getDefaultChartOptions({
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 100
                            }
                        }]
                    })
                })

                this.loadData()

                this.ticker = setInterval(() => {
                    this.loadData()
                }, 20000)
            },
            destroyed () {
                clearInterval(this.ticker)
            }
        })

        var app = new Vue({
            el: '[data-js="vue-root"]',
            data: {
                ui: {
                    servers: {
                        showForm: false,
                        form: {
                            name: null,
                            ip: null,
                            jwt: null
                        }
                    },
                    users: {
                        form: {
                            username: null,
                            password: null
                        }
                    },
                    sidemenu: {
                        server: null,
                        data: null
                    }
                },
                route: 'dashboard',
                servers: [],
                users: [],
                metrics: []
            },
            methods: {
                showServerInfo (server) {
                    this.ui.sidemenu.server = server
                },
                closeSidemenu () {
                    this.ui.sidemenu.server = null
                    this.ui.sidemenu.data = null
                },
                selectRoute (route) {
                    if (route.startsWith('servers.list')) {
                        this.getServers()
                    }
                    if (route.startsWith('users.list')) {
                        this.getUsers()
                    }

                    this.route = route
                },
                formatPercent (value) {
                    return value.toFixed(2) + '%'
                },
                getServers () {
                    axios.get(serverUrl + '/api/servers', {headers: headers}).then((response) => {
                        this.servers = response.data.servers
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                getUsers () {
                    axios.get(serverUrl + '/api/users', {headers: headers}).then((response) => {
                        this.users = response.data.users
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                getMetrics () {
                    axios.get(serverUrl + '/api/metrics', {headers: headers}).then((response) => {
                        this.metrics = response.data
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                registerSubmit (e) {
                    var data = this.ui.servers.form
                    axios.post(serverUrl + '/api/servers/register', data, {headers: headers}).then((response) => {
                        console.log(response)
                        this.ui.servers.form.jwt = response.data.jwt
                        this.selectRoute('servers.form.confirmation')
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                revokeServer (server) {
                    axios.delete(serverUrl + '/api/servers/' + server.id, {headers: headers}).then((response) => {
                        this.selectRoute('servers.list')
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                createUser () {
                    var data = this.ui.users.form
                    axios.post(serverUrl + '/api/users', data, {headers: headers}).then((response) => {
                        console.log(response)
                        this.selectRoute('users.list')
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                deleteUser (username) {
                    axios.delete(serverUrl + '/api/users/' + username, {headers: headers}).then((response) => {
                        this.selectRoute('users.list')
                    }).catch((error) => {
                        redirectIfUnauthorized(error)
                        console.log(error)
                    })
                },
                copyJwt (e) {
                    e.target.select()
                    document.execCommand("Copy")
                }
            },
            mounted () {
                setInterval(() => {
                    this.getMetrics()
                }, 5000)
                this.getMetrics()
            }
        });
    </script>
</body>
</html>